.labelBlock{
    display: block;
}
input[type="text"], input[type="email"], input[type="number"]{
    width: 12vw;
    padding: 3px;
}
input:focus{
    outline: none;
}
.inputTag{
    display: flex;
}
.inputTag label{
    white-space: nowrap;
}
small{
    display: block;
}